<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeLeaf.org"
  xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect/"
>
  <head>
    <meta charset="utf-8" />
    <title>Ma Banque</title>
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
    />
  </head>
  <style>
    #cardStyle {
      width: 50%;
    }
  </style>
  <body>
    <header th:replace="fragment/header :: header"></header>

    <div id="contentPage" class="container" th:if="${compteE==null}">
      <div class="card mt-5" style="width: 60%; margin-left: 20%">
        <div class="card-header bg bg-light text-center h4">
          <h2 class="mb-4">AJOUTER COMPTE COURANT</h2>
        </div>
        <div class="card-body">
          <form
            th:action="@{/saveCompteCourant}"
            method="post"
            th:object="${compteC}"
          >
            <div class="m-5">
              <div class="mb-3">
                <label class="form-label">Code Compte (CC) :</label>
                <input
                  type="text"
                  th:field="*{codeCompte}"
                  class="form-control"
                  required="required"
                />
              </div>
              <div class="mb-3">
                <label class="form-label"> Solde (DH) :</label>
                <input
                  type="text"
                  th:field="*{solde}"
                  class="form-control"
                  required="required"
                />
              </div>
              <div class="mb-3">
                <label class="form-label"> Decouvert (DH):</label>
                <input
                  type="text"
                  th:field="*{decouvert}"
                  class="form-control"
                  required="required"
                />
              </div>
              <div class="mt-4">
                <label>Nom Client :</label>
                <select
                  class="form-select"
                  th:field="*{client}"
                  id="selectBar"
                  required="required"
                >
                  <option value="" selected>--choisir Client--</option>
                  <option th:each="c:${listClients}" th:value="${c.codeClient}">
                    [[${c.nomClient}]]
                  </option>
                </select>
              </div>

              <div class="mt-4">
                <label>Nom employe :</label>
                <select
                  class="form-select"
                  th:field="*{employe}"
                  id="selectBar"
                  required="required"
                >
                  <option value="" selected>--choisir Employé--</option>
                  <option
                    th:each="emp:${listEmployes}"
                    th:value="${emp.codeEmploye}"
                  >
                    [[${emp.nomEmploye}]]
                  </option>
                </select>
              </div>
              <div align="center" class="mt-5">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button
                  type="button"
                  class="btn btn-dark"
                  onclick="CancelForm()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="contentPage" class="container" th:if="${compteC==null}">
      <div
        id="cardStyle"
        class="card mt-5"
        style="width: 60%; margin-left: 20%"
      >
        <div class="card-header bg bg-light text-center h4">
          <h2 class="mb-4">AJOUTER COMPTE EPARGNE</h2>
        </div>
        <div class="card-body">
          <form
            th:action="@{/saveCompteEpargne}"
            method="post"
            th:object="${compteE}"
          >
            <div class="m-5">
              <div class="mb-3">
                <label class="form-label">Code Compte (CC) :</label>
                <input
                  type="text"
                  th:field="*{codeCompte}"
                  class="form-control"
                  required="required"
                />
              </div>
              <div class="mb-3">
                <label class="form-label"> Solde (DH) :</label>
                <input
                  type="text"
                  th:field="*{solde}"
                  class="form-control"
                  required="required"
                />
              </div>
              <div class="mb-3">
                <label class="form-label"> Taux (DH):</label>
                <input
                  type="text"
                  th:field="*{taux}"
                  class="form-control"
                  required="required"
                />
              </div>
              <div class="mt-4">
                <label>Nom Client :</label>
                <select
                  class="form-select"
                  th:field="*{client}"
                  id="selectBar"
                  required="required"
                >
                  <option value="" selected>--choisir Client--</option>
                  <option th:each="c:${listClients}" th:value="${c.codeClient}">
                    [[${c.nomClient}]]
                  </option>
                </select>
              </div>

              <div class="mt-4">
                <label>Nom employe :</label>
                <select
                  class="form-select"
                  th:field="*{employe}"
                  id="selectBar"
                  required="required"
                >
                  <option value="" selected>--choisir Employé--</option>
                  <option
                    th:each="emp:${listEmployes}"
                    th:value="${emp.codeEmploye}"
                  >
                    [[${emp.nomEmploye}]]
                  </option>
                </select>
              </div>
              <div align="center" class="mt-5">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button
                  type="button"
                  class="btn btn-dark"
                  onclick="CancelForm()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer th:replace="fragment/footer :: footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      function CancelForm() {
        window.location = "[[@{/}]]";
      }
    </script>
  </body>
</html>
